/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/public/img/
!/public/img/.gitkeep
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/
public/js/app.js